* {
    font-family: Inter;
}

.navbar-section {
    background-color: #1F2937;
}

.hero-section {
    background-color: #1F2937;
}

.testimonial-section {

}

.quote-section {
    background-color: #E5E7EB;
}

.call-section {

}

.footer-section {
    background-color: #1F2937;
}